button{
background: blue;
color: burlywood;
}

#para1
{
    color: chartreuse;

}

#para2
{
    color: rgb(255, 60, 0);
    background: darkblue;

}



.content{
    color: coral;
    background-color: rgb(43, 37, 35);


}


.content1{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 217, 0);


}

.outer-box{
    width: 300px;
    height: 200px;
    background: blue;
    margin-left: 20px;
    margin-top: 40px;
    padding-left: 100px;
    padding-top: 40px;
    border: 5px solid;
    border-color: red;
} v

.inner-div{
    margin-left: 10px;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    border-color: rgb(54, 0, 124);
}

.white{
    color: white;
}